h1
{
    text-align: left;
    background-color:red;
    color: white;
    padding: 8px;
}

ul,p,ol
{
    background-color: navajowhite;
    padding-top: 8px;
    padding-bottom: 8px;
}

p
{
    padding-left: 8px;
}

h2
{
    color: white;
    background-color: orangered;
    padding: 8px;
}

img
{
    width: 1080px;
    height: auto;
}

a
{
    display: block;
    margin: 16px;
}